<div class="newsletter-container">
    <div class="newsletter-custom-form-wrapper">
        {% if section.settings.image != blank %}
            <img
                srcset= "{{ section.settings.image | img_url: image_size }}, {{ section.settings.image | img_url: image_size, scale: 2 }} 2x"
                src="{{ section.settings.image | img_url: '144x' }}"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="144"
            >
        {% endif %}
        <h2>{{ section.settings.heading }}</h2>
        <div class="newsletter-description">
            {{ section.settings.description }}
        </div>
        <div class="newsletter-custom-form">
            {{ section.settings.custom_html }}
        </div>
        <div class="newsletter-info">
            {{ section.settings.notes }}
        </div>
    </div>
</div>
<style>

</style>
{% schema %}
{
  "name": "Custom Newsletter",
  "tag": "section",
  "class": "custom-newsletter mt-0",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image Logo"
    },
    {
        "type": "text",
        "id": "heading",
        "default": "Join email list",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "description",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. adie nsectetur aorem ipsum dolor sit amet,</p>",
        "label": "Description"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Newsletter Form",
      "info": "Add Custom HTML here"
    },
    {
        "type": "richtext",
        "id": "notes",
        "default": "<p>Any questions? Email us at summitpush@ifit.com</p>",
        "label": "Notes"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
